* {
    box-sizing: border-box
}
.container {
    width: 1200px;
    margin: 0 auto;
}
html {
    font-family: "Jost", sans-serif;
    font-size: 22px;
    font-weight: 400;
}
.foot {
    width: 1200px;
    margin: 0 auto;
    margin-top: 130px;
}
.first_part {
    display: flex;
}
.column {
    display: flex;
    flex-direction: column;
}
.text {
    line-height: 33px;
    color: #4D5053;
}
.info {
    padding-bottom: 30px;
    color: #4D5053;;
    line-height: 33px;
}
.icons {
    height: 53px;
    width: 333.359375px;  
    margin-top: 30px;  
}
.logo {
    height: 50px;
    width: 177px;
    margin-bottom: 26px;
}
.title {
    font-family: DM Serif Display;
    font-size: 25px;
    line-height: 38px;
    color: #292F36;
    padding-bottom: 22px;
}
.interno {
    height: 374px;
    width: 393.359375px;
}
.pages {
    height: 374px;
    width: 210.71875px;
}
.explore {
    height: 374px;
    width: 210.71875px;
}
.contact {
    height: 374px;
    width: 337.15625px;
}
.second_part {
    display: flex;
    justify-content: center;
    margin-top: 116px;
}
.accent {
    color: #CDA274;
}
.last {
    color: #4D5053;;
    line-height: 33px;
}