* {
    box-sizing: border-box
}

.container {
    width: 1200px;
    margin: 0 auto;
}
html {
    font-family: "Jost", sans-serif;
    font-size: 22px;
    font-weight: 400;
}
.foot {
    width: 1200px;
    margin: 0 auto;
    margin-top: 130px;
}
.first_part {
    display: flex;
}
.column {
    display: flex;
    flex-direction: column;
}
.text {
    line-height: 33px;
    color: #4D5053;
}
.info {
    padding-bottom: 30px;
    color: #4D5053;;
    line-height: 33px;
}
.icons {
    height: 53px;
    width: 333.359375px;  
    margin-top: 30px;  
}
.logo {
    height: 50px;
    width: 177px;
    margin-bottom: 26px;
}
.title {
    font-family: DM Serif Display;
    font-size: 25px;
    line-height: 38px;
    color: #292F36;
    padding-bottom: 22px;
}
.interno {
    width: 393px;
}
.pages, .explore {
    width: 210px;
}
.contact {
    width: 337px;
} 
.second_part {
    display: flex;
    justify-content: center;
    margin-top: 116px;
}
.accent {
    color: #CDA274;
}
.last {
    color: #4D5053;;
    line-height: 33px;
}

.nav-header {
display: flex;
justify-content: space-between;
}

.menu {
    display: flex;
align-items: center;
}

.btn {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    padding-left: 34px;
padding-right: 20px;
border-radius: 18px;
margin-bottom: 50px;
display: flex;
align-items: center;
}

.button-dark {
background: #292F36;
border: 2px solid #292F36;
width: 207px;
height: 71px;
}

.link {
    text-decoration: none;
    color: #292F36;
    font-weight: 400;
    font-size: 20px;
}

.menu > li:not(:last-child){
    margin-right: 40px;
}

.link:hover {
    color: #CDA274;
}

.button-light {
background: #CDA274;
border: 2px solid #CDA274;
box-shadow: 1px 0px 18px rgba(0, 0, 0, 0.2);
width: 241px;
height: 71px;
display: flex;
align-items: center;
}

.button-arrow-round {
background: #F4F0EC;
width: 52px;
height: 52px;
border-radius: 100px;
border: none;
}

.arrow {
    padding-left: 21px;
}

.arrow_1 {
    padding-left: 27px;
}

.feedback {
    height: 675px;
width: 1200px;
border-radius: 70px;
background: #F4F0EC;
margin-left: 350px;
}

.feedback-header1,
.feedback-header2 {
    font-family: 'DM Serif Display';
font-style: normal;
font-weight: 400;
font-size: 45px;
line-height: 58px;
text-align: center;
letter-spacing: 0.22px;
color: #292F36;
}

.feedback-header1 {
    padding-top: 103px;
}

.feedback-card {
    padding-top: 47px;
    background: #FFFFFF;
    height: 287px;
    width: 354px;
    border-radius: 30px;  
    display: flex;
    flex-wrap: wrap;
}

.feedback-card-item {
    font-family: 'DM Serif Display';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 38px;
letter-spacing: 0.22px;
color: #292F36;
padding-left: 20px;
}

.feedback-card-item1 {
    padding-left: 20px;
    font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
letter-spacing: 0.22px;
color: #4D5053;
}

.feedback-card-item2 {
    padding-left: 35px;
    padding-right: 75px;
    height: 90px;
    font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
letter-spacing: 0.22px;
color: #4D5053;
}

.feedback-list {
display: flex;
margin-top: 48px;
}

.feedback-card1 {
margin-left: 51px;
}

.feedback-card2 {
    margin: 0 18px;
}

.item1 {
left: 35px;
top: 152px;
}

.feedback-img {
    height: 77px;
    padding-left: 35px;
}